body {
	background-color: #fff;
	color: #fff;
}


/* Utilities */

.clearfix {
	display: block;
	clear: both;
}


/* Calculator body  */

#calculator {
	width: 360px;
	/* height: 400px; */
	border: 1px solid #000;
	background-color: #222d32;
	border-radius: 3px;
	box-shadow: 0 3px 10px black;
	text-align: center;
	padding: 0 20px;
	margin: 0 auto;
}


/* brand name */

.brand {
	font-size: 0.75em;
	opacity: 0.5;
	font-weight: normal;
}

.brand a {
	color: #eee;
}


/*  screen style */

.display {
	border-radius: 3px;
	margin: 20px 0;
	padding: 5px;
	border: 1px solid #222;
	background-color: #29353b;
	text-align: right;
}

.display .result {
	font-size: 2.5em;
	min-height: 47px;
}

.display .expression {
	margin-top: 10px;
	text-align: right;
	opacity: 0.75;
	min-height: 18px;
}


/* Buttons style */

.buttons-layout button {
	float: left;
	padding: 15px;
	cursor: pointer;
	color: #bbb;
	border: none;
	background-color: #29353b;
	transition: box-shadow, color 0.25s ease-out;
	box-shadow: 0 0 3px #111;
	outline: none;
}

.buttons-layout button:hover {
	color: #eee;
}

.buttons-layout button:active {
	box-shadow: 0 0 1px #222;
}


/* Buttons grid layout */

.buttons-layout {
	display: block;
}

.buttons-layout .left-column {
	float: left;
	width: 75%;
}

.buttons-layout .left-column button {
	width: 32%;
	margin: 0.5%;
}

.buttons-layout .right-column {
	float: right;
	width: 25%;
}

.buttons-layout .right-column button {
	width: 98%;
	margin: 1.5%;
}
